.temperatureItems, .otherItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    width: 300px;
    margin: 30px auto;
}

.message {
    font-size: 2rem;
    margin-top: 1rem;
}